<article
    class="category {{item.category_class}}"
>
    <p>
        {{ item.name }}
    </p>
    <section style="display: flex; flex-direction: column;">
        <div class="color-panel">
        {% for color in item.color %}
            <div class="{{color}} square"> 
            </div>
        {% endfor %}
        </div>
        <button>
            Add to Cart
        </button>
        <p style="text-wrap:wrap; align-self: flex-end;">
            {{ item.description }}
        </p>
    <section>
</article>
