{% for item in cart %}
    <article
        class="category {{item.category_class}} card"
    >
        <h4 class="item name cart-card">
            {{ item.name }}
        </h4>
        <section style="display: flex; flex-direction: column;">
            <div class="color-panel">
            {% for color in item.color %}
                <div class="{{color}} square"> 
                </div>
            {% endfor %}
            </div>
            <p style="text-wrap:wrap; align-self: flex-end;">
                {{ item.description }}
            </p>
        </section>
        <button
                hx-delete="/removeFromCart"
                hx-target="#cart"
                hx-swap="outerHtml"
                type="submit"
                name="product"
                value="{{item.product_id}}"
                class="cart-button"
            >
                Remove {{ item.quantity_in_cart }} From Cart
        </button>
    </article>
{% endfor %}
