<section
    hx-target="#shelf"
    class="shelf"
>
    <section class="shelf-controls">
        <button
            hx-post="/shelf"
            hx-trigger="click"
            hx-swap="outerHtml"
            hx-target="#shelf"
            type="submit"
            name="method"
            value="price"
        >
            Sort by Price
        </button>
    </section>
    <section 
        class="category-container"
    >
        {% for item in shelf %}
                <article
                    class="category {{item.category_class}}"
                >
                    <p>
                        {{ item.name }}
                    </p>
                    <section style="display: flex; flex-direction: column;">
                        <div class="color-panel">
                        {% for color in item.color %}
                            <div class="{{color}} square"> 
                            </div>
                        {% endfor %}
                        </div>
                        <button>
                            Add to Cart
                        </button>
                        <p style="text-wrap:wrap; align-self: flex-end;">
                            {{ item.description }}
                        </p>
                    <section>
                </article>
        {% endfor %}
    </section>
    <hr>
</section>
