<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <p>{{message}}</p>
<body>
    <section id="shelf-container">
        <p>This section will just get all the results from the DB when you click the button</p>
        <button
            hx-post="/shelf"
            hx-trigger="click"
            hx-swap="outerHtml"
            hx-target="#shelf"
        >
            Get Shelf
        </button>
        <section id="shelf"></section>
    </section>
    <hr>
    <section>
        <p>This section sends the inputs to the server and the server returns htmx</p>
        <form 
            id="new-thing-form"
            hx-post="/thing"
            hx-trigger="submit"
            hx-target="#results-box"
            hx-on::after-request="this.reset()"
        >
            <input type="text" name="thing-name" placeholder="what is this thing?">
            <input type="text" name="thing-description" placeholder="what is it like?">
        </form>

        <input type="submit" value="new-thing" form="new-thing-form">

        <div id="results-box"></div>
        
    </section>
    <script src="/static/htmx.min.js"></script>
</body>
</html>