<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <p>{{message}}</p>
<body>
    <div>
    <div id="switch">
    </div>
    <button
        hx-post="/clicked"
        hx-trigger="click"
        hx-swap="beforeend"
        hx-target="#switch"
    >
        switch the switch
    </button>
    <button
        hx-post="/clickedOff"
        hx-trigger="click"
        hx-swap="beforeend"
        hx-target="#switch"
    >
        switch the switch back
    </button>
    </div>
    <script src="/static/htmx.min.js"></script>
</body>
</html>