<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="/static/styles.css"/>
</head>
    <p>{{message}}</p>
<body>
    <section id="shelf-container">
        <h2
            hx-get="/shelf"
            hx-trigger="load"
            hx-post="/shelf"
            hx-trigger="click"
            hx-swap="outerHtml"
            hx-target="#shelf"
            type="submit"
            name="method"
            value="category"
        >
            This heading has a get method attached, it will trigger a GET to /shelf on page load
    </h2>
        <section id="shelf"></section>
        <hr>
        <h2>Cart</h2>
        <section id="cart" class="category-container">

        </section>
    </section>
    <hr>
    <section>
        <p>This section sends the inputs to the server and the server returns htmx</p>
        <form 
            id="new-thing-form"
            hx-post="/thing"
            hx-trigger="submit"
            hx-target="#results-box"
            hx-on::after-request="this.reset()"
        >
            <input type="text" name="thing-name" placeholder="what is this thing?">
            <input type="text" name="thing-description" placeholder="what is it like?">
        </form>

        <input type="submit" value="new-thing" form="new-thing-form">

        <div id="results-box"></div>
        
    </section>
    <script src="/static/htmx.min.js"></script>
</body>
</html>